extends layout

block content

    h2.page-header Login
    p A password reset link will be sent to your email
        if messages.error
          .alert.alert-danger
             div= messages.error
        if messages.info
          .alert.alert-info
            div= messages.info
        if messages.success
          .alert.alert-success
            div= messages.success
    form(method = 'post', action = '/users/forgot') 
        label E-mail
        input.form-control(name = 'email', type = 'email', placeholder = 'Please enter email to reset password')
        input.btn(type = 'submit', name = 'submit', value = 'Submit',
        style='margin-top: 20px;')