<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<script>
    Breakpoints();
</script>

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="brand">
        <!-- <img class="brand-img" src="/assets//images/logo.png" alt="..."> -->
        <h2 class="brand-text">Project Name</h2>
      </div>
      <p>Forgot Your Password ?</p>
      <p>Input your registered email to reset your password</p>
      <form align="center" method="post" action="/users/forgot">
        <div class="form-group">
          <label class="sr-only" for="inputName">Name</label>
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Please enter email to reset password">
        </div>
        <!-- <input type="button" type="submit" name="submit" value="Login" class="btn btn-block"> -->
        <button type="submit" name="submit" value"Login" class="btn btn-block btnLogin">Reset Your Password</button>
      </form>

      <footer class="page-copyright page-copyright-inverse">
        <p>WEBSITE BY Project Name</p>
        <p>© 2018. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
        <i class="icon bd-twitter" aria-hidden="true"></i>
      </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
        <i class="icon bd-facebook" aria-hidden="true"></i>
      </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
        <i class="icon bd-dribbble" aria-hidden="true"></i>
      </a>
        </div>
      </footer>
    </div>
  </div>
</html>