extends layout

block content

    h2.page-login-h Login
    p.page-login-p Please enter the requirements then press "Login"
        if messages.error
          .alert.alert-danger
             div= messages.error
        if messages.info
          .alert.alert-info
            div= messages.info
        if messages.success
          .alert.alert-success
            div= messages.success
    form(method = 'post', action = '/users/login')
        .form-group.col-md12
        label.page-login-text Username 
        br
        input.page-login(name = 'username', style='width: 350px;', type = 'text', placeholder = 'Please enter username')
        br
        .form-group.col-md12
        label.page-login-text Password
        br
        input.page-login(name = 'password', style='width: 350px;',type = 'password', placeholder = 'Please enter password')
        br
        input.page-login-btn.btn(type = 'submit', name = 'submit', value = 'Login',
        style='margin-top: 20px; color: #21ABB2;')
        a.btn.btn-link(href='/users/forgot', style='margin-top: 20px; color: #21ABB2;') Forgot Password?