<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<script>
    Breakpoints();
</script>

<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="brand">
        <!-- <img class="brand-img" src="/assets//images/logo.png" alt="..."> -->
        <h2 class="brand-text">Project Name</h2>
      </div>
      <p>Sign into your account</p>
      <form align="center" method="post" action="/login">
        <div class="form-group">
          <label class="sr-only" for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password"
            placeholder="Password">
        </div>
        <div class="form-group clearfix">
          <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
            <input type="checkbox" id="inputCheckbox" name="remember">
            <label for="inputCheckbox">Remember me</label>
          </div>
          <a class="float-right" href="/forgot">Forgot password?</a>
        </div>
        <!-- <input type="button" type="submit" name="submit" value="Login" class="btn btn-block"> -->
        <button type="submit" name="submit" value"Login" class="btn btn-block btnLogin">Login</button>
      </form>
      <p>Still no account? Please go to <a href="/register">Register</a></p>

      <footer class="page-copyright page-copyright-inverse">
        <p>WEBSITE BY Project Name</p>
        <p>© 2018. All RIGHT RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
        <i class="icon bd-twitter" aria-hidden="true"></i>
      </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
        <i class="icon bd-facebook" aria-hidden="true"></i>
      </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
        <i class="icon bd-dribbble" aria-hidden="true"></i>
      </a>
        </div>
      </footer>
    </div>
  </div>
</html>