extends layout

block content

    h2.page-header Login
    p Please enter the requirements then press "Login"
        if messages.error
          .alert.alert-danger
             div= messages.error
        if messages.info
          .alert.alert-info
            div= messages.info
        if messages.success
          .alert.alert-success
            div= messages.success
    form(method = 'post', action = '/users/login') 
        label Username
        input.form-control(name = 'username', type = 'text', placeholder = 'Please enter username')
        .form-group
        label Password
        input.form-control(name = 'password', type = 'password', placeholder = 'Please enter password')
        input.btn(type = 'submit', name = 'submit', value = 'Login',
        style='margin-top: 20px;')
        a.btn.btn-link(href='/users/forgot', style='margin-top: 20px;') Forgot Password?