/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

.page-login {
  margin: center;
}

.page-login-text{
  color: #000000;
}

.page-login-p{
  text-align: center;
  /* margin-left: 420px; */
}

.page-login-h{
  text-align: center;
  /* margin-left: 530px;
  margin-top: 80px; */
  color: #000000;
}

.page-login-btn{
  margin-top: 20px;
}

.page-reg{
  margin-left: 420px;
  margin-right: 20px;
}

.page-reg-text{
  /* margin-left: 550px; */
  color: #000000;
}

.page-reg-p{
  text-align: center;
  color: #000000;
}
.page-reg-h{
  text-align: center;
  color: #000000;
}

.page-forgot-text{
  color: #000000;
}

.page-forgot-p{
  text-align: center;
  color: #000000;
}

.page-forgot-h{
  text-align: center;
  color: #000000;
}

/* .page-edit{
  margin-left: 420px;
  margin-right: 20px;
} */

.page-edit-text{
  /* margin-left: 550px; */
  color: #000000;
}

/* .page-edit-btn{
  margin-left: 560px;
} */

.page-edit-p{
  text-align: center;
  color: #000000;
}

.page-edit-h{
  text-align: center;
  color: #000000;
}

.page-profile-text{
  color: #000000;
}

.site {
  background-image: url(/images/3.jpg);
  /* background image from http://gahag.net/010282-wave-music/ */
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

}

.site-background {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.7;
z-index: 0;
}

/* .navbar-inverse{
  background-color: #B9DEF5;
}
.site-bar{
  background-color: #;
} */

.site-text{
  text-align: center;
  /* margin-top: 4px; */
}

.btnLogin{
  background-color: #377aa1;
  color: #a1cbee;
}

.btnLogin:hover{
  background-color: #a1cbee;
  color: #377aa1;
}